.wave-container {
    display: flex;
    justify-content: space-between;
    height: 55px;
    --boxSize : 4px;
    --gutter :8px;
    width: calc((var(--boxSize)) + var(--gutter) * 15);
}

.wave {
    transform: scale(0.4);
    height: 100%;
    width: var(--boxSize);
    background-image: linear-gradient(
        0deg,
        hsl(227deg 81% 73%) 0%,
        hsl(232deg 81% 71%) 16%,
        hsl(237deg 81% 69%) 24%,
        hsl(243deg 80% 67%) 30%,
        hsl(248deg 80% 66%) 35%,
        hsl(253deg 80% 64%) 40%,
        hsl(258deg 79% 62%) 45%,
        hsl(263deg 79% 61%) 50%,
        hsl(269deg 79% 59%) 55%,
        hsl(274deg 79% 57%) 60%,
        hsl(279deg 78% 56%) 65%,
        hsl(284deg 78% 54%) 70%,
        hsl(290deg 78% 53%) 76%,
        hsl(295deg 78% 51%) 84%,
        hsl(300deg 79% 49%) 100%
      );
    border-radius: 1em;
}

.active {
    animation-duration:1.4s ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.wave1 {
    animation-name: quiet;
}

.wave2 {
    animation-name: regular;
}

.wave3 {
    animation-name: quiet;
}

.wave4 {
    animation-name: loud;
}

.wave5 {
    animation-name: quiet;
}

.wave6 {
    animation-name: regular;
}

.wave7 {
    animation-name: quiet;
}

@keyframes quiet {
    25% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(0.4);
    }

    75% {
        transform: scale(0);
    }
}

@keyframes regular {
    25% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(0.4);
    }

    75% {
        transform: scale(0.6);
    }
}

@keyframes loud {
    25% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(0.4);
    }

    75% {
        transform: scale(1);
    }
}