.queue-container {
    width: 100%;
    height: 60%;
    margin-top: 0.5em;
    padding: 0 0.6em;
    overflow-x:visible;
    /* border-top: 2px solid hsl(221deg 64% 10%); */
    border-radius: 1.5em;
    background: linear-gradient(to right,hsl(217deg 65% 18%) 0%,transparent 80%);
}

.queue-container h3 {
    color: white;
    padding-left: 1em;
}

.queue-body {
    overflow-y: scroll;
    padding: 0.1em 0;
    height: 290px;
}

.hoverImg {
    position: absolute;
    left: 15px;
}

.queueSong {
    text-align: center;
    color: white;
    background:linear-gradient(to left,hsl(221deg 64% 10%), hsl(216deg 64% 19%) );
    border-radius:0.25em;
    padding: 1em 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.queueSong-info {
    padding-left:0.5em;
}

.queueSong-info p {
  font-size: 14px;
  line-height: 0.3em;
  text-align: left;
}

.queueSong-info p:nth-of-type(2) {
  color: #a5a9ad;
}

.queueSong span {
  padding-right: 0.5em;
}




